@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600&display=swap');
@import "resets";

body{
  background: #EBEDF0;

}
/*			Buttons
_________________________________*/
.btn{
  display: block;
  background: #53c6d1;
  border-radius: 6px;
  padding: 8px 12px;
  outline: none;
  border:1px solid #3177be;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
.btn:hover{
  -webkit-box-shadow: 0 0 3pt 2pt darkblue;
  box-shadow: 0 0 3pt 2pt darkblue;
}
.main-btn{
  margin:100px auto;

}


/*			Page
_________________________________*/
.page{
  border-radius: 1em;
  background: #FFFFFF;
  max-width:560px;
  height: 660px;
  margin: 100px auto;


}
/*			Container
_________________________________*/
.container{
  width: 98%;
  max-width: 31.25em;
  margin:0 auto;
  padding:0 5px;
}
/*			Header
_________________________________*/
.header{
  padding:1.6rem 2.2rem 1.6rem 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1px;
  border-bottom:1px solid #EAECF0;
}
.header__name{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #3c3c3c;
}
.close-btn{
  background:none;
  border:none;
  outline: none;
  cursor: pointer;
  padding:0;
  margin:0;
}

.close-btn svg{
  width:13px;
  height: 13px;
  fill:#7F899E;
  transition: transform 0.6s;

}
.close-btn svg:hover{
  transform: rotate(135deg);
}
/*			Footer
_________________________________*/
.footer{
  display: flex;
  justify-content: flex-end;
  padding:1.6rem;
  border-radius: 1px;
  border-top:1px solid #EAECF0;
}
.send-btn{

}